@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.container{
    background-color: var(--secondaryBackground) !important;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.animated-container{
    animation: darken 2s ease-in-out infinite;
}

.container .sidebar{
    height: 100%;
    float: right;
    background-color: gray;
    animation: resizeSidebar 2s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    gap: 10px;
}

.container .sidebar .sidebar-cons{
    width: 90%;
    height: 30%;
    border-radius: 5px;
    background-color: rgb(182, 182, 182);
    animation: visible 2s ease-in-out infinite;
}

.container .clicker {
    color: var(--secondaryFontColor);
    font-size: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    filter: drop-shadow(-4px 4px 8px rgba(0, 0, 0, .3));
}

.container .sidebar-animation-clicker{
    animation: moveCursor 2s ease-in-out infinite;
}

.container .multi {
    height: 20%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0%;
    background-color: #283142;
    border-radius: 10px 10px 0 0;
}

.container .multi .cons{
    width: 20%;
    height: 100%;
}

.container .multi .cons:nth-child(1){
    border-radius: 10px 0 0 0;
    animation: resizeMulti 2s ease-in-out infinite;
}

.container .multi-animation-clicker{
    animation: moveMultiCursor 2s ease-in-out infinite;
}

.container .overlay{
    height: 100%;
    background-color: rgba(35, 43, 58);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    gap: 10px;
    animation: slideOverlay 2s ease-in-out infinite;
}

.container .overlay .overlay-cons{
    height: 30%;
    width: 100%;
    background-color: rgb(31, 38, 51);
    animation: visible 2s ease-in-out infinite;
}

.container .tracking{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /* background-color: gray; */
}

.container .tracking .cons{
    height: 50%;
    width: 80%;
    border-radius: 5px;
    background-color: rgb(58, 70, 92);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    position: relative;
    top: 5%;
    animation: autoscroll 2s ease-in-out infinite;
}

.container .tracking .cons:last-child{
    animation: resizeTracking 2s ease-in-out infinite;
}

.container .tracking-animation-clicker{
    animation: trackingClicker 2s ease-in-out infinite;
}

.container .login{
    border-radius: 10px;
    border: 3px solid gray;
    height: 20%;
    width: 90%;
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    font-weight: 300;
    font-style: normal;
    font-size: larger;
}

.container .login-animation-clicker{
    animation: loginCursor 1s ease-in-out infinite;
}

.container .login .letter {
    padding-left: 10px;
}

.container .login button{
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    border-style: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 120%;
    width: 40%;
    color: white;
    background-color: gray;
    animation: clickButton 1s ease-in-out infinite;
}

@keyframes clickButton{
    0%, 100% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
        background-color: gray;
    }
    80%{
        background-color: rgb(127, 208, 240);
    }
}

@keyframes loginCursor{
    0%, 40% {
        transform: translate(-50%) scale(1);
    }
    40% {
        top: 60%;
        left: 70%;
        transform: translate(-50%) scale(1);
    }
    50% {
        top: 60%;
        left: 70%;
        transform: translate(-50%) scale(0.8);
    }
    80%, 90%, 100% {
        top: 60%;
        left: 70%;
        transform: translate(-50%) scale(1);
    }
}


@keyframes trackingClicker{
    0%, 40% {
        transform: translateY(50%) translateX(50%);
    }
    80% {
        transform: translateY(85%) translateX(85%);
    }
    90% {
        transform: translateY(85%)  translateX(85%);
    }
    100%  {
        transform: translateY(85%) translateX(85%);
    }
}

@keyframes autoscroll{
    0%, 40% {
        transform: translateY(0%);
    }
    80%, 90%, 100%  {
        transform: translateY(-210%);
    }
}

@keyframes resizeTracking{
    0%, 40% {
        background-color: rgb(58, 70, 92);
        transform: translateY(0%) scale(1);
    }
    80% {
        background-color: rgb(58, 70, 92);
        transform: translateY(-210%) scale(1.2);
    }
    90% {
        background-color: rgb(127, 208, 240);
        transform: translateY(-210%) scale(1.1);
    }
    100%  {
        background-color: rgb(58, 70, 92);
        transform: translateY(-210%) scale(1.2);
    }
}

@keyframes slideOverlay{
    0%, 40%, 50% {
        width: 0%;
    }
    80%, 90%, 100%  {
        width: 100%;
    }
}

@keyframes moveMultiCursor{
    0%, 40% {
        left: 50%;
        transform: translate(-50%) scale(1);
    }
    40% {
        top: 92%;
        left: 12%;
        transform: translate(-50%) scale(1);
    }
    50% {
        top: 92%;
        left: 12%;
        transform: translate(-50%) scale(0.8);
    }
    80%, 90%, 100% {
        top: 92%;
        left: 12%;
        transform: translate(-50%) scale(1);
    }
}

@keyframes moveCursor {
    0%, 40% {
        left: 50%;
        transform: translateX(-50%) scale(1);
    }
    40% {
        left: 95%;
        transform: translateX(-50%) scale(1);
    }
    50% {
        left: 95%;
        transform: translateX(-50%) scale(0.8);
    }
    80%, 90%, 100% {
        left: 95%;
        transform: translateX(-50%) scale(1);
    }
}

@keyframes resizeSidebar {
    0%, 40%, 50% {
        width: 15%;
    }
    80%, 90%, 100% {
        width: 80%;
    }
}

@keyframes visible {
    0%, 40%, 50% {
        opacity: 0;
    }
    70% {
        opacity: .2;
    }
    80% {
        opacity: .5;
    }
    90%, 100% {
        opacity: 1;
    }
}

@keyframes darken {
    0%, 40%, 50% {
        background-color: rgba(255, 255, 255, 1);
    }
    70% {
        background-color: rgb(131, 131, 131);
    }
    80% {
        background-color: rgb(68, 68, 68);
    }
    90%, 100% {
        background-color: rgb(68, 68, 68);
    }
}

@keyframes resizeMulti {
    0%, 40%, 50% {
        background-color: #283142;
        transform: scale(1);
    }
    60% {
        background-color: rgba(127, 208, 240, .6);
        transform: scale(.8);
    }
    90%, 100% {
        background-color: #283142;
        transform: scale(1);
    }
}

.wrapper {
    width: 100%;
    height: auto;
    border: 1px solid red;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-items: center;
    padding-top: 50px;
}

.wrapper iframe {
    width: 500px;
    height: 500px;
}