.footer {
    background-color: var(--secondaryBackground);
    color: var(--primaryFontColor);
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 10px;
    min-width: 200px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section .contact ul li {
    display: flex;
    align-items: center;
}

.footer-section .contact ul li img {
    width: 20px;
    margin-right: 10px;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 0.9em;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    z-index: 999;
    background-color: var(--secondaryBackground);
}