@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryBackground: #212a38;
  --secondaryBackground: #2a3547;
  --primaryFont: 'Poppins', sans-serif;
  --primaryFontColor: #f5cfbf;
  --secondaryFontColor: #aaaaaa;
  --altsecondaryFontColor: #6e6e6e;
  --altFontColor: #fff;
  --profilePosition: 25%;
  --skillbar-width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--primaryFont);
}

html, body {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--primaryBackground);
}

html{
  scroll-behavior: smooth;
}

.HEADER {
  color: var(--primaryFontColor);
}

a, li{
  text-decoration: none;
  list-style: none;
}

.PROFILE {
  position: relative;
  width: 100%;
  height: auto;
  background-color: var(--secondaryBackground);
  padding: 1rem;
  text-align: justify;
}

.PROFILE > .left h1 {
  color: var(--primaryFontColor);
}

.PROFILE > .left > h3{
  color: var(--primaryFontColor);
}

.PROFILE .icon {
  margin-top: 20px;
  color: var(--altFontColor);
  font-size: 1.5rem;
}

.PROFILE .icon:hover{
  transform: scale(.9);
  transition: .2s ease-in-out;
}

.PROFILE > .aside {
  color: var(--secondaryFontColor);
  width: auto;
}

.PROFILE > .aside .introduction a {
  position: relative;
  background-color: var(--secondaryBackground);
  color: var(--primaryFontColor);
  font-size: .9rem;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(110, 110, 110, .5),
              7px 7px 20px 0px rgba(0, 0, 0, .4);
  transition: transform 0.2s ease-in-out;
  animation: moveRight 2s ease-in-out infinite;
  z-index: 9999;
}

@keyframes moveRight {
  0%, 100% {
    box-shadow: inset 2px 2px 2px 0px rgba(110, 110, 110, .5),
              7px 7px 20px 0px rgba(0, 0, 0, .4);
  }
  50% {
    box-shadow: inset 0px 0px 0px 0px rgba(110, 110, 110, .1),
              7px 7px 10px 0px rgba(42, 53, 71, .8);
  }
}

.PROFILE > .aside .introduction a:hover {
  animation: none .5s ease-in-out;
  transition: .2s ease-in-out;
}


.PROFILE > .aside .introduction p {
  margin-bottom: 1.25rem;
}

.PROFILE > .aside .introduction h5 {
  margin: 1.25rem 0 0.625rem 0;
}

/* Keyframes for animations */
@keyframes iconss {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

@keyframes profile {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

@keyframes intro-text {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

.PROFILE > .aside {
  animation: intro-text 2s ease-in-out;
}

.PROFILE > .left {
  position: relative;
  animation: iconss 2s ease-in-out;
}

.PROFILE > .profilePic {
  position: absolute;
  width: fit-content;
  height: fit-content;
  bottom: 0%;
  left: var(--profilePosition);
  transform: translateX(-50%);
  animation: profile 2s ease-in-out;
  visibility: hidden;
}

.PROFILE > .profilePic > img {
  height: 18rem;
  width: 12rem;
  filter: drop-shadow(-4px 4px 8px rgba(0, 0, 0, .3));
}

#skills {
  width: 100%;
  background-color: var(--primaryBackground);
  padding-top: 1rem;
  position: relative;
  z-index: 1;
}

#skills .skills-con-2{
  width: 100%;
  height: 100%;
}

#skills .skills-con-2 .tools-set{
  border: 1px solid var(--altFontColor);
  background-color: var(--secondaryBackground);
  border-radius: 6px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  height: fit-content;
}
#skills .skills-con-2 .tools-set .tool-icon{
  font-size: 2rem;
  color: var(--altFontColor);
}
#skills .skills-con-2 .tools-set label{
  color: var(--secondaryFontColor);
  text-align: justify;
}
.timeline {
  width: 668px;
}

.timeline:before {
  z-index: -9;
}

#skills h2 {
  color: var(--primaryFontColor);
}

#skills .sets {
  width: 100%;
}

#skills .set {
  margin: 0.625rem;
  min-width: 8.125rem;
}

#skills .skills {
  border-radius: 0.3125rem;
  height: 1.25rem;
  background: linear-gradient(rgba(0, 0, 0, .3), var(--secondaryBackground));
  margin-bottom: 0.625rem;
  position: relative;
  overflow: hidden;
}

#skills .skill-bar {
  border-radius: 0.3125rem;
  height: 100%;
  background-color: var(--secondaryFontColor);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  animation: grow 2s forwards;
}

@keyframes grow {
  from { width: 0; }
  to { width: var(--skillbar-width); }
}

#skills label {
  display: block;
  margin-bottom: 0.3125rem;
  color: var(--secondaryFontColor);
  font-size: 0.875rem;
}

#skills  .tools-set {
  line-height: 1;
}

#skills .knowledge .each {
  border-radius: 0.3125rem;
  padding: 0.25rem;
}

#skills .knowledge .each:first-child, 
#skills .knowledge .each:last-child {
  background-color: var(--secondaryBackground);
}

#skills .knowledge h3 {
  color: var(--primaryFontColor);
  font-size: 0.875rem;
}

#skills .knowledge p {
  color: var(--secondaryFontColor);
  margin-bottom: 0.3125rem;
  font-size: 0.875rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(50%);
  }
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

.timeline {
  position: relative;
  width: 67%; 
  margin: 2rem auto; 
  padding: 1em 0;
  list-style-type: none;
  z-index: 0;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 0.375rem;
  height: 100%;
  margin-left: -0.1875rem;
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 18.75rem;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 18.75rem;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.flag {
  display: inline;
  padding: 0.375rem 0.625rem;
  border-radius: 0.3125rem;
  background-color: white;
  font-weight: 600;
  text-align: left;
  box-shadow: 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  content: ' ';
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  margin-top: -0.625rem;
  background: #fff;
  border-radius: 50%;
  border: 0.25rem solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -2.5rem;
}

.direction-l .flag:before {
  right: -2.5rem;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -0.5rem;
  border: solid transparent;
  pointer-events: none;
}

.direction-l .flag:after {
  left: 100%;
  border-left-color: rgb(248,248,248);
  border-width: 0.5rem;
}

.direction-r .flag:after {
  right: 100%;
  border-right-color: rgb(248,248,248);
  border-width: 0.5rem;
}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 0.25rem 0.375rem;
}

.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
  background-color: var(--secondaryBackground);
  border: 1px solid white;
  border-radius: 0.625rem;
  padding: 1rem;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

.desc .position {
  color: var(--primaryFontColor);
}

.desc .des {
  color: var(--secondaryFontColor);
}

.desc .time {
  color: var(--altsecondaryFontColor);
}

/*================= Responsive Media Queries =================*/
@media screen and (max-width: 660px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em;
  }

  .timeline:before {
    z-index: -9;
  }

  .direction-l, .direction-r {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .flag-wrapper {
    text-align: center;
  }

  .direction-l .flag:before, .direction-r .flag:before {
    top: -1.25rem;
    left: 54%;
    margin-left: -0.625rem;
  }

  .direction-l .flag:after, .direction-r .flag:after {
    top: -1.060rem;
    left: 53%;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: rgb(248,248,248);
    margin-left: -0.625rem;
    margin-top: -0.25rem;
  }

  .direction-l .time-wrapper, .direction-r .time-wrapper {
    display: block;
    position: relative;
    margin: 0.75rem 0;
    z-index: 9;
  }

  .desc {
    position: relative;
    margin: 1.25rem auto 0 auto;
    padding: 1rem;
    text-align: left;
  }

  .timeline li .desc {
    margin-top: 15px;
  }
}

#project {
  position: relative;
  top: auto;
  height: auto;
  width: 100%;
  margin-top: 40px;
  padding: 10px;
}

#project h2 {
  color: var(--primaryFontColor);
  text-align: center;
}

#project label {
  color: var(--primaryFontColor);
  font-weight: 10;
  margin-left: 10px;
}

#project p {
  color: var(--altsecondaryFontColor);
  font-size: 11px;
  padding-left: 10px;
}

#project .per-projects {
  border-radius: 5px;
  background-color: var(--secondaryBackground);
  border: 2px solid var(--secondaryFontColor);
  /* width: 100%; */
}

#project .cursor-pointer {
  border: 2px solid var(--secondaryFontColor);
  color: var(--secondaryFontColor);
  width: 30px;
  height: 28px;
  border-radius: 30%;
  padding: 5px;
  margin-right: 10px;
}

#project .cursor-pointer:hover {
  border: 2px solid white;
  transition: .2s ease-in-out;
  transform: scale(1.1);
}

#project .description {
  padding: 5px;
  border-radius: 10px;
  background-color: var(--primaryBackground);
  text-align: justify;
}


#project .description a .project-link{
  color: var(--secondaryFontColor);
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

#project .description p {
  width: 120%;
}

#project .description a:hover {
  transition: .2s ease-in-out;
  transform: scale(1.1);
}


.footer {
  background-color: var(--secondaryBackground);
  color: var(--primaryFontColor);
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 10px;
  min-width: 200px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section .contact ul li {
  display: flex;
  align-items: center;
}

.footer-section .contact ul li img {
  width: 20px;
  margin-right: 10px;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.9em;
}


.footer-section h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  z-index: 999;
  background-color: var(--secondaryBackground);
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
  }
}

@media screen and (min-width: 769px){
  .PROFILE{
    padding-bottom: 40px;
    display: flex;
  }
  .PROFILE .left{
    width: 50%;
  }
  .PROFILE .left .icon{
    font-size: 2rem;
  }
  .PROFILE .aside{
    width: 50%;
  }
  .PROFILE > .profilePic{
    visibility: unset;
  }
  #skills{
    overflow-y: hidden;
  }
  #skills .skills-con-1{
    width: 50%;
    height: 400px;
  }
  #skills .skills-con-1 .set{
    width: 13rem;
  }
  #skills .skills-con-2{
    width: 50%;
    height: 310px;
    overflow-y: scroll;
    box-shadow: inset 0px -10px 10px -10px rgba(0, 0, 0, 0.5);
  }
  #skills .skills-con-2::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  #skills .skills-con-2 .tools-set-con{
    animation: autoscroll 10s ease-in-out;
  }
  @keyframes autoscroll{
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-20%);
    }
  }
  .timeline {
    width: 668px;
  }

  .timeline:before {
    z-index: -9;
  }
}
