@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryBackground: #212a38;
  --secondaryBackground: #2a3547;
  --primaryFont: 'Poppins', sans-serif;
  --primaryFontColor: #f5cfbf;
  --secondaryFontColor: #aaaaaa;
  --altsecondaryFontColor: #6e6e6e;
  --altFontColor: #fff;
  /* --profilePosition: 25%; */
  --skillbar-width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--primaryFont);
}

html, body {
  margin: 0 auto;
  overflow-x: hidden;
  background-color: var(--primaryBackground);
}

html{
  scroll-behavior: smooth;
}

a, li{
  text-decoration: none;
  list-style: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(50%);
  }
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

/*================= Responsive Media Queries =================*/
@media screen and (max-width: 660px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em;
  }

  .timeline:before {
    z-index: -9;
  }

  .direction-l, .direction-r {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .flag-wrapper {
    text-align: center;
  }

  .direction-l .flag:before, .direction-r .flag:before {
    top: -1.25rem;
    left: 54%;
    margin-left: -0.625rem;
  }

  .direction-l .flag:after, .direction-r .flag:after {
    top: -1.060rem;
    left: 53%;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: rgb(248,248,248);
    margin-left: -0.625rem;
    margin-top: -0.25rem;
  }

  .direction-l .time-wrapper, .direction-r .time-wrapper {
    display: block;
    position: relative;
    margin: 0.75rem 0;
    z-index: 9;
  }

  .desc {
    position: relative;
    margin: 1.25rem auto 0 auto;
    padding: 1rem;
    text-align: left;
  }

  .timeline li .desc {
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
  }
}

@media screen and (min-width: 769px){
  .timeline {
    width: 668px;
  }

  .timeline:before {
    z-index: -9;
  }
}
